<!doctype html>

<title> application de validation des documents </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='jquery.1.8.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='jquery.form.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='crypto.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='filedrop.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
<h1>veuillez choisir un document</h1>
<div class="dropbox">
 glisser et déposer fichier ici
</div>
<p>    </p>
